<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" name="viewport">
                <title>
                </title>
                <link href="manifest.json" rel="manifest">
                    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
                    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
                        <link href="css/style.css" rel="stylesheet">
                            <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
                            <!-- ionic/angularjs js -->
                            <script src="lib/ionic/js/ionic.bundle.js">
                            </script>
                            <script src="lib/ngCordova/dist/ng-cordova.js">
                            </script>
                            <!-- cordova script (this will be a 404 during development) -->
                            <script src="cordova.js">
                            </script>
                            <!-- your app's js -->
                            <script src="read_csv.js"></script>
                        </link>
                    </link>
                </link>
            </meta>
        </meta>
    </head>
    <body ng-app="test" ng-controller="myCtrl">

<button ng-click="readCSV()">
Display CSV as Data Table
</button>
<div id="divID">
  <table>
    <tr ng-repeat="x in data">
      <td ng-repeat="y in x">{{ y }}</td>
    </tr>
  </table>
</div>

<input type="file" id="files" name="files[]" multiple />
<output id="list"></output>

<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate.toLocaleDateString(), '</li>');
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>

        <div class="bar bar-footer">
            <button class="button icon-left ion-home button-positive" ng-click="goHome()">
                Home
            </button>
            <button class="button icon-left ion-log-out button-assertive" ng-click="logout()">
                Log Out
            </button>
        </div>


    </body>
</html>
